.flex{
  display:flex;
  justify-content:center;
  background: #F47721;
  background: -webkit-linear-gradient(to right, #FCB529, #D82A2A);
  background: linear-gradient(to right, #FCB529, #D82A2A);
}

.flex-item{
  flex-grow: 1;
  text-align: center;
  display: block;
  justify-content:center;
  padding: 1rem 1rem;
  list-style: none;
}

.flex-item:hover{
  background-color: red;
}

.active{
  background-color: #d3a370;
}
.panel{
  display:block;
}
