.flex{
  display:flex;
  justify-content:center;
  background: #D82A2A;
  /* background: -webkit-linear-gradient(to right, #FCB529, #D82A2A);
  background: linear-gradient(to right, #FCB529, #D82A2A); */
}

.flex-item{
  flex-grow: 1;
  text-align: center;
  display: block;
  justify-content:center;
  padding: 1rem 1rem;
  list-style: none;
  border: 1px solid black;
}

.flex-item:hover{
  background-color: red;
}

.active{
  background-color: #FCB529;
}
.active:hover{
  background-color: #FCB529;
}
.panel{
  display:block;
}
